

<div class="autocomplete-wrapper">

  <mat-form-field>
    <mat-label>Product</mat-label>
    <input matInput type="text"
           [(ngModel)]="searchText"
           (input)="onSearch()"
           [placeholder]="placeholder"
           class="autocomplete-input" />
  </mat-form-field>

  <div *ngIf="list$ | async as item; else loading">
    <ul class="autocomplete-list">
      <li *ngFor="let product of (list$ | async); let i = index"
          [class.active]="i === selectedIndex"
          (click)="selectProduct(product)">
        {{ product.name }}
      </li>

    </ul>
  </div>
  <ng-template #loading></ng-template>

</div>
